<div class="loginPanel">
<!-- <form ng-controller="homeCtrl">
	Username: <input type="text" ng-model="login.username" id="username">
	Password: <input type="text" ng-model="login.password" id="password">
	<button type="button" ng-click="login()">LOGIN</button>
</form> -->

<div class="container">
    <div class="container">
    <div class="col-md-12 loginTitle"><h2>AngularJS Chat</h2></div>
    <div class="row vertical-offset-100">
        <div class="col-md-6 col-md-offset-3">
        	<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in | username: admin , password: admin |</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Username" ng-model="login.username" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" ng-model="login.password" type="password" value="">
			    		</div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" ng-click="login()" value="Login">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
	
</div>
</div>