<nav ng-controller="homeCtrl" class="col-md-2" ng-style="menuheight">
<div class="row">
	<div class="col-md-12 "><h2>AngularJS Chat</h2></div>
</div>
<div class="row navList">
	<h3>CHAT ROOMS</h3>
	<ul>
	<li><a href="#/">Room 1</a></li>
	<li><a href="#/about">Room 2</a></li>
	<li><a href="#">Room 3</a></li>
	<li><a href="#">Room 4</a></li>
</ul>

     <h3>PRIVATE MESSAGES</h3>
     <ul>
	<li><a href="#/">Jovan Jovanovic</a></li>
	<li><a href="#/about">Marko markovic</a></li>
	<li><a href="#">Nikols Nikolic</a></li>
	<li><a href="#">Marija Markovic</a></li>
</ul>
</div>

</nav>